<h1>You can perform addition operation here</h1>
<form action='/addBack' method='post'>
<input type='number' name="val1" placeholder="enter 1st value" required>
<input type='number' name='val2' placeholder='enter 2nd value' required>
<button type='submit'>Submit</button>
</form>
